{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block after_field_sets %}
{{ block.super }}
<div id="map"></div>

<style type="text/css" media="screen">
    #map {
        width: 640px;
        height: 480px;
        margin: 10px 10px 30px 10px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var map, marker, geocoder, last_search, address_fields;

    address_fields=[$('#id_name')];
    address_fields.push($('#id_address_1'));
    address_fields.push($('#id_address_2'));
    address_fields.push($('#id_address_3'));
    address_fields.push($('#id_address_4'));
    address_fields.push($('#id_post_code'));

    function get_address() {
        var string = "";

        address_fields.forEach(function(field){
            if (field.val() != "") {
                string += field.val() + ", ";
            }
        })

        return string;
    }

    last_search = get_address();

    function checkForUpdate() {
        var address_string;
      
        address_string = get_address();

        if (address_string != last_search) {

            geocoder.geocode( { 'address': address_string}, function(results, status) {

                if (status == google.maps.GeocoderStatus.OK) {

                    map.setCenter(results[0].geometry.location);

                    if (marker) {
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    
                    last_search = address_string;

                    $('#id_gmap_lat').val(results[0].geometry.location.lat());
                    $('#id_gmap_lng').val(results[0].geometry.location.lng());
                    $('#id_gmap_zoom').val(map.zoom);

                } else {
                    console.log("Geocode was not successful for the following reason: " + status);
                }
            });

        }

    }

    function initMap() {
        var lat_field, lng_field, zoom_field;

        lat_field = $('#id_gmap_lat').val();
        lng_field = $('#id_gmap_lng').val();
        zoom_field = $('#id_gmap_zoom').val();

        if (lat_field + lng_field + zoom_field != "") {
            // if google map location fields are not all empty, initialise map
            // using those values and put a marker on it

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: parseFloat(lat_field), lng: parseFloat(lng_field)},
                zoom: parseInt(zoom_field)
            });

            marker = new google.maps.Marker({
                map: map,
                position: {lat: parseFloat(lat_field), lng: parseFloat(lng_field)}
            });

        } else {
            // otherwise draw a map centred on Hackney, without a marker

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 51.5517953, lng: -0.0646437000000333},
                zoom: 14
            });

        }

        map.addListener('zoom_changed', function() {
            $('#id_gmap_zoom').val(map.zoom);
        });

        geocoder = new google.maps.Geocoder();


        window.setInterval(function(){
          checkForUpdate()
        }, 1000);

      }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF8RliekVBpZ1kBUa6GdpZNfYUsZ4Ed60&callback=initMap" async defer></script>

{% endblock %}