<h2>{{ course.name }}</h2>
<h3> The tutor is {{ course.tutor.first_name }} {{ course.tutor.last_name }}</h3>
<p>{{ course.blurb }}</p>
<p>
    The venue is:
    <ul>
        <li>{{ course.venue.name }}</li>
        <li>{{ course.venue.address_1 }}</li>
        <li>{{ course.venue.address_2 }}</li>
        <li>{{ course.venue.address_3 }}</li>
        <li>{{ course.venue.address_4 }}</li>
        <li>{{ course.venue.post_code }}</li>
    </ul>
</p>
<p>
    The dates are:
    <ol>
        {% for daterange in dates %}
        <li>
            For
            {{ daterange.number_of_weeks }}
            weeks, starting on
            {{ daterange.start_date|date:"D d M Y" }}
            at
            {{ daterange.start_date|time:"H:i" }}
        </li>
        {% endfor %}
    </ol>
</p>